<div id="myCarousel" class="carousel slide" data-ride="carousel"><!--start of carousel-->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id="carousel">
    <div class="item active">
      <img src="images/img1.jpg" alt="Chania"/>
    </div>

    <div class="item">
      <img src="images/img2.jpg" alt="Chania"/>
    </div>
    <div class="item">
      <img src="images/img3.jpg" alt="Chania"/>
    </div>
     <div class="item">
      <img src="images/img4.jpg" alt="Chania" />
    </div>


  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!--end of carousel-->
<div  id="sec1"  class="container-fluid"><!--start of row1-=->
   <!--article-->
    <div class="row main">
          <div class="col-sm-7">
           <h2>{{heading}}</h2>
                  <article>
                           {{result}}
                  </article>
             </div>
            
     <div class="col-sm-5"> 

    <marquee><h2>{{video_heading}}</h2></marquee>
    <iframe width="500" height="400" src="https://www.youtube.com/embed/Wp_sznANMU4">
</iframe>
  </div>
        </div>
</div><!--end of row 1-->
<!--jumbotron-->
      
<div class="contianer " id="sec2">
<h2>Tour</h2>
<div class="row row1 ">

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Corbett National Park</div>
  <div  class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p ng-include="'JSON/Corbett.txt'">






</p></div>
<div class="panel-footer"><a href="CorNatPark.html" >More Info</a></div>
<!--  <div class="panel-footer"><a href="#" data-toggle="modal" data-target="#myModal">More Info</a></div>-->
</div>
</div><!--end of sec1-->

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Nainital</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Nainital - The beautiful lake resort nestles amidst seven hills in a lush 
valley at an altitude of 1938 meters. In 1841, the British first discovered 
Nainital as a holiday resort. Today, the town has emerged as one of the most important 
hill resorts of India.Nainital is a modem hill resort of northern India (336 kms from Delhi) connected  
by best-aligned and maintained roads from the railhead of Kathgodam.




</p></div>
<div class="panel-footer"><a href="Nainital.jsp" >More Info</a></div>
</div>
</div><!--end of sec1-->

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Auli</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Auli in the Indian state of Uttarakhand is renowned for the fascinating ski resorts and stunning natural vistas. Bounded by the snowy peaks of the mighty Himalayas, this hilly terrain offers the enchanting sceneries of oak fringed slopes and coniferous forests. At an average height of 2800 meters, this might be the 
single spot where the visitors would get the unusual opportunity of a nice promenade.

</p></div>
<div class="panel-footer"><a href="Auli.jsp" >More Info</a></div>
</div>
</div><!--end of sec1-->

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Almora</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Almora, another popular hill station of Uttarakhand 
is known as the cultural capital of Kumaon. 
This town is situated on a 5 km mountain range situated at an altitude 
of 1,650 m and from a distance its shape resembles a horse shoe. 
Almora was not discovered and developed by the British, 
instead it was the seat of power of the Chand Dynasty who ruled the land of 
Kumaon for almost a millennium. 



</p></div>
<div class="panel-footer"><a href="Almora.jsp" >More Info</a></div>
</div>
</div><!--end of sec1-->
</div><!--end of row1-->
<!--start of row2-->
<div class="row row1 ">

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Corbett National Park</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Jim Corbett National Park is a forested wildlife sanctuary in northern India’s Uttarakhand State. Rich in flora and fauna, 
it’s known for its Bengal tigers. Animals, including tigers, leopards and wild elephants, roam the Dhikala zone. On the banks of the Ramganga
 Reservoir, the Sonanadi zone is home to elephants and leopards, along with hundreds of species of birds.




</p></div>
<div class="panel-footer"><a href="#" data-toggle="modal" data-target="#myModal">More Info</a></div>
</div>
</div><!--end of sec1-->

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Corbett National Park</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Jim Corbett National Park is a forested wildlife sanctuary in northern India’s Uttarakhand State. Rich in flora and fauna, 
it’s known for its Bengal tigers. Animals, including tigers, leopards and wild elephants, roam the Dhikala zone. On the banks of the Ramganga
 Reservoir, the Sonanadi zone is home to elephants and leopards, along with hundreds of species of birds.




</p></div>
<div class="panel-footer"><a href="#" data-toggle="modal" data-target="#myModal">More Info</a></div>
</div>
</div><!--end of sec1-->

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Corbett National Park</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Jim Corbett National Park is a forested wildlife sanctuary in northern India’s Uttarakhand State. Rich in flora and fauna, 
it’s known for its Bengal tigers. Animals, including tigers, leopards and wild elephants, roam the Dhikala zone. On the banks of the Ramganga
 Reservoir, the Sonanadi zone is home to elephants and leopards, along with hundreds of species of birds.




</p></div>
<div class="panel-footer"><a href="#" data-toggle="modal" data-target="#myModal">More Info</a></div>
</div>
</div><!--end of sec1-->

<div class="col-sm-3">
<div class="panel panel-primary">
  <div class="panel-heading">Corbett National Park</div>
  <div class="panel-body"><img class="img-responsive img-thumbnail" src="images/jim.jpg" width="300px" height="120px"/><p>

Jim Corbett National Park is a forested wildlife sanctuary in northern India’s Uttarakhand State. Rich in flora and fauna, 
it’s known for its Bengal tigers. Animals, including tigers, leopards and wild elephants, roam the Dhikala zone. On the banks of the Ramganga
 Reservoir, the Sonanadi zone is home to elephants and leopards, along with hundreds of species of birds.




</p></div>
<div class="panel-footer"><a href="#" data-toggle="modal" data-target="#myModal">More Info</a></div>
</div>
</div><!--end of sec1-->
</div>
</div>
<!--end of row2->
<!--video-->
<div id="video" class="container-fluid">
 <h2> Adventure</h2>
  <br/>
<!--1st row-->
    <div class="row main">
          <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="images/river_rafting.jpg" width="300px" height="120px"/>
             </div>

         <div class="col-sm-9">
               <h3>River Rafting</h3>
               <p>Rafting is the most popular adventure sport in Uttarakhand. 
                 Swift-moving rivers offer a thrilling experience for white water rafters. These rivers flow through deep forests, 
                  rocky terrains, mountains and sometimes even along snowy slopes. Stretches along Alaknanda, Dhauliganga and Kali rivers have 
                  several challenging rapids. You can opt for a simple half-day tour or a four to five-day experience of rafting. 
               Do make sure you have an experienced guide's services.Choose between simple or expert levels - whether you choose to negotiate fast and furious river currents or to gently float along the hillside.</p>
             </div>
</div><!--end of 1st row-->


<!--2nd row-->
    <div class="row second_row">
         

         <div class="col-sm-9">
               <h3>Paragliding</h3>
               <p>
                 Paragliding in Uttarakhand will help the tourists to conquer the fear of heights and 
tourists will have a wonderful experience - something that they can treasure for their life.
 The most thrilling part of this sport is the boundless freedom in the open sky.
               </p>
             </div>
 <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="images/paragliding.jpg" width="300px" height="120px"/>
             </div>
</div>
<!-- end of 2nd row-->


<!--3rd row-->
    <div class="row second_row">
          <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="images/bungee.jpg" width="300px" height="120px"/>
             </div>

         <div class="col-sm-9">
               <h3>Bungee Jumping</h3>
               <p>
                 Bungee-Jumping in Rishikesh is a major reason behind magnification of massive tourist crowd from around the world.
                 This adventure-activity is safeguarded and managed by Jump Master of New Zealand. This is India’s first giant swing from a fixed platform. The performers 
                 jump from a platform at a height of 83 meters above the ground, with their chest harness tied to the platform via ropes. 
               </p>
             </div>

</div><!--end of 1st row-->
<!-- end of 3rd row-->
</div>
</end of video-->
<div id="contact"  ng-controller="myCtrl">
<img class="img-responsive img-thumbnail" src="images/contact2.jpg" width="1600px" height="600px"/>
    <form class="comment" >
      <div class="form-group" id="main">
               <label for="Comment">Leave Your Comment Here !!</label>
              </div>
              <div class="form-group">
              	<input type="text" class="form-control" name="fname" ng-model="name" placeholder="Your Name*" required></div>
               <div class="form-group">  <input type="email" ng-model="email" class="form-control" id="email" placeholder="Your Email" required></div>
                 <div class="form-group"> <textarea name="message" ng-model="msg" rows="2" cols="70" placeholder="Your Message" required>
</textarea></div>
 <div class="form-group"><button type="submit" ng-click =submitdata() class="btn btn-default">Submit</button></div>
       </form> 
         
</div>
<div ng-init = "init()" ng-controller="myCtrl1"  >

        <div data-ng-repeat="result1 in result" style="border:1px solid #F7F7F7">
          <br >
          <div class="cmt" >{{result1.name}}</div>  
          <div>{{result1.msg}}</div>  
        
        </div>
    

</div>